<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>@title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<link href="stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<center>
<table width="600" height="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="400" height="100" valign="top" class="indexheader">@libname</td>
    <td class="linkList">&nbsp;</td>
  </tr>
  <tr>
    <td class="indextext">@description
Geomerative is a library for <a href="http://www.processing.org/">Processing</a>, that consists of a series of classes enabling extended 2D geometry operations.  It also enables the user to hold in objects information about 2D geometry elements, like shapes, polygons and meshes.
<br/>
<br/>
The goal of the library is to facilitate the creation and use of 2D generative geometry: accessing by code the points of a polygon or the parameters of the commands of a shape.
<br/>
<br/>
Finally, this library also implements a TrueType font interpreter and importer.  This is done in order to motivate the public to use typography as a seed for generative art.
<br/>
<br/>
The library is based on two other free software libraries:
<ul>
  <li>
    Daniel Bridenbecker's <a href="http://www.seisw.com/GPCJ/GPCJ.html"><i>gpc java port</i></a>
  </li>
  <li>
    Apache's <a href="http://xmlgraphics.apache.org/batik/"><i>batik SVG Toolkit</i></a>
  </li>
</ul>
Some examples of use of this library can be found at:
<ul>
  <li>
    <a href="http://www.caligraft.com/">Caligraft</a>.
  </li>
</ul>
The link to the library zip is the following: <a href=http://www.ricardmarxer.com/processing/geomerative/geomerative-12.zip>Geomerative library (rev12)</a>
<br/>
<br/>
THE LIBRARY IS IN <b>ALPHA</b> VERSION.  THIS MEANS THAT THE API MIGHT SUFFER IMPORTANT MODIFICATIONS CAUSING FUTURE VERSIONS TO BE INCOMPATIBLE WITH THE OLDER ONES.
<br/>
<br/>
<b>License</b> (unless otherwise stated)
<br/><br/>
Copyright 2006 Ricard Marxer Piñón
<br/><br/>
This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should receive a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
<br/>
<br/>
Please contact me at rmarxerp@yahoo.com for any related bugs or issues.  I also appreciate the submission of any example code of uses of the methods in order to complete the reference.</td>
    <td class="descList">@links</td>
  </tr>
</table>
</center>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-86270-2";
urchinTracker();
</script>
</body>
</html>
