<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>packagehtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
@description This project is my Final Master Thesis.  It's a processing library, that consists of a series of classes enabling extended 1D geometry operations.  It also enables the user to hold in objects information about 2D geometry elements, like shapes, polygons and meshes.
<br>
<br>
The goal of the library is to facilitate the creation and use of 2D generative geometry: accessing by code the points of a polygon or the parameters of the commands of a shape.
<br>
<br>
Finally, this library also implements a TrueType font interpreter and importer.  This is done in order to motivate the public to use typography as a seed for generative art.
<br>
<br>
The link to the library zip is the following: <a href=http://www.tecn.upf.es/master/mad04/~rmarxer/processing/rgeom/rgeom.zip>rgeom.zip (ALPHA VERSION)</a>
<br>
<br>
THE LIBRARY IS IN <b>ALPHA</b> VERSION.  THIS MEANS THAT THE API MIGHT SUFFER IMPORTANT MODIFICATIONS CAUSING FUTURE VERSIONS TO BE INCOMPATIBLE WITH THE OLDER ONES.
<br>
<br>
Please contact me at rmarxerp@yahoo.com for any related bugs or issues.  I also appreciate the submission of any example code of uses of the methods in order to complete the reference.
<br>
@libname rgeom 
</body>
</html>